* {
  box-sizing: border-box;
}

body {
  background-color: rgb(108, 158, 142);
}

.userCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
  width: 18vw;

  text-align: center;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;

  border-radius: 10px;
}

.topField {
  height: 15vh;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(107, 54, 156);
}

.userPhoto {
  height: 20vh;
  width: 20vh;
  margin-top: -10vh;

  display: inline-block;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.userName {
  padding: 2.5vh 0;

  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(105, 25, 180);
}

.userProf {
  padding-bottom: 1em;
  color: rgba(163, 91, 230, 0.808);
}

.footer {
  position: relative;
  bottom: -5px;
  height: 10vh;

  margin-top: auto;

  border-top: 1px solid rgba(119, 114, 114, 0.651);
}

.userLink {
  width: 8.8vw;
  padding: 2vh 0;
  display: inline-block;
}

.firstLink {
  border-right: 1px solid rgba(119, 114, 114, 0.651);
}

.linkImage {
  height: 5vh;
  background-position: center;
}

.userCardWrapper {
  display: flex;
  background-color: teal;
  justify-content: space-evenly;
}

/* example how to limit content */
.description {
  padding: 0 5px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 0.9rem;
}
